$primary: #090d15;
$success: #16a34a;
$error: #dc2626;
$text: #1e293b;
$subtext: #64748b;
$bg: #eff4ff;
$bg-layover: #f8f8fa;

$radius: 6px;
$shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
$winner: rgb(2, 176, 2);
$loser: rgb(247, 0, 0);
