@import "../../../styles/variables";
.exitPositionsDisplay {
    border-bottom: 1px rgba(0,0,0,0.2) solid;
}
.exitPositionContainer {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 90%;
    margin: auto;
    margin-bottom: .5rem;
    padding-left: 1rem;
    background-color: $bg-layover;
    > div {
        flex-grow: 1;
        display: flex;
    }
}