@import "../../../styles/variables";
.tradeCardHeader {
    display: flex;
    width: 100%;

}

.tradeCardTitle {
    display: flex;
    flex-grow: 2;
    align-items: center;
    > div {
        margin: 0.5rem;
        font-size: 0.8rem;
    }
    .cardStatus {
        border-radius: 15px;
        background-color: rgb(216, 215, 216);
        padding: 0.2rem 0.6rem;
        border: 1px black solid;
    }
    
    .cardOutcome {
        border-radius: 15px;
        padding: 0.2rem 0.6rem;
        color: #c7c7c7;
        border: 1px transparent solid;
        font-weight: 600;
    }
}