@import "../../../styles/variables.scss";

.statCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 7rem;
    background-color: $bg-layover;
    padding: 0.2rem 2rem;
    border-radius: 10px;
    > .statCardLabel{
        margin-bottom: 1rem;
    }

    > .statCardValue {
        font-size: 1.6rem;
        font-weight: 600;
    }
}