@import "../../../styles/variables";

.tradeTotalDisplay {
    width: 100%;
    display: flex;
    > div {
        flex-grow: 1;
        > p.winner {
            font-size: 1.2rem;
            font-weight: 600;
            color: $winner
        }
        
        > p.loser {
            font-size: 1.2rem;
            font-weight: 600;
            color: $loser
        }
    }
}