@import '../../styles/variables';

.tabContainer {
    margin-top: 0.5rem;
    display: 100%;
}

.tabButtonContainer {
    width: 98vw;
    display: flex;
    margin: auto;
}

.tabButton  {
    flex: 1;
    padding: 0.7rem;
    background-color: $bg-layover;
    cursor: pointer;
}
 .selected {
    background-color: #80a6f8;
}
